<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <script src="../js/vue.js"></script>
    <title>v-if</title>
</head>
<body>

<div id="dom">
    <h1 v-if="ok">我是对的</h1>
    <h2 v-else="ok">我是错的</h2>
    <template v-if="ok">
        <div class="aaa">这里是true的模块儿内容</div>
        <div class="aaa">这里是true的模块儿内容</div>
        <div class="aaa">这里是true的模块儿内容</div>
        <div class="aaa">这里是true的模块儿内容</div>
    </template>
    <template v-else="ok">
        <div class="aaa">false</div>
        <div class="aaa">false</div>
        <div class="aaa">false</div>
        <div class="aaa">false</div>
    </template>
</div>

<script>
var vue = new Vue({
    el:'#dom',
    data:{
        ok:false
    }
});
</script>
</body>
</html>